/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italiana&family=Italianno&family=La+Belle+Aurore"); */

.App {
  font-family: sans-serif;
  text-align: center;
}

#root,
body,
canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #111111;

  /* Make a grey dot cursor */
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><circle cx='10' cy='10' r='10' fill='grey' opacity='0.75' /></svg>")
      5 5,
    auto;
}

html {
  font-size: 20px;
}
